* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #efecec;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-y: scroll;
    margin: 0;
}


/* MENU */

.navbar__menu {
    font-size: 10px;
}

.navbar__menu-list {
    list-style: none;
    display: flex;  
}

.navbar__menu-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar__menu-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 40px;
}

.navbar-section {
    background-color: #363434;
    width: 100%;
    color: white;
    height: 80px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    z-index: 10;
    position: relative;
}

.navbar-section-container {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    height: 43px;
}

.navbar-title {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    padding: 25px;
    
}

/* CARDS */

.card-section{
    margin: auto;
    width: 90%;
    padding: 10px;
}

.card {
    display: inline-block;
    box-shadow: 0px 10px 10px 0px rgba(243, 121, 7, 0.1);
    background-color: white;
    border-radius: 16px;
    margin: 12px;
    width: 300px;
    height: 350px;
    overflow: hidden;
}

.card-title{
    text-align: center;
}

.card-button {
	box-shadow: 0px 10px 6px -7px #000000;
	background:linear-gradient(to bottom, #f78e06 5%, #d8260f 100%);
	background-color:#df7016;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:1px 0px 2px #da7212;
    margin-left: 70px;
    margin-bottom: 20px;
}
.card-button:hover {
	background:linear-gradient(to bottom, #d8260f 5%, #f78e06 100%);
	background-color:#408c99;
}
.card-button:active {
	position:relative;
	top:5px;
}
.card-img {
    width: auto;
    height: 50%;
    margin-left: 25%;
    
}

.card-price {
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

/* CARRITO */

.carrito-section {
    display: block;
    margin: auto;
    width: 89%;
    padding: 10px;
}

.card-carrito {
    display: block;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    background-color: white;
    border-radius: 16px;
    width: 150px;
    height: 50px;
    margin-top: 25px;
}

.card-carrito-items {
    display: flex;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    background-color: white;
    border-radius: 16px;
    width: 40%;
}

.title-carrito-items {
    position: static;
    display: inline-block;
    margin-left: 15px;
    
}

.name-items{
    display: inline;
    margin-left: 10px;
    padding-top: 5px;

}

.name-total{
    display: inline-block;
}

.name-items{
    display: inline;
    margin-left: 10px;
    padding-top: 5px;

}

.title-carrito-total{
 
    display: inline-block;
    margin-left: 30px;
    margin: 12px;
    width: 40px;
}


.carrito-img { 
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 200px;
}




